<!DOCTYPE html>  
<html lang = "en">
	<head>
		<meta charset="utf-8">
		<title><%= title %></title>
		<link href="/public/style.css" rel="stylesheet">
	</head>

<body>

<header>
	<div class="container">
		<h1><a href="/"><%= title %></a></h1>
	</div>
</header>